.constructor {
  flex: 1;
}

.dragging {
  /* outline: solid 2px #8585AD; */
}

.order {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 40px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}
