.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--offset-base-size) * 45);
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hint {
  text-align: center;
}
