.link {
  color: inherit;
  text-decoration: none;
}

.card {
  position: relative;
  cursor: pointer;
}

.dragged {
  opacity: .8;
}

.image {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  min-height: 48px;
  text-align: center;
}
