.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  display: block;
}

.details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  text-align: center;
  list-style: none;
  margin: 0;
}
